
<% if user_signed_in? %>
<% @items.each do |item| %>
  <% if item.completed? %>

 <h2 style="opacity: 0.5;"><strike><%= link_to item.title, item %></strike></h2>

  <p>Completed <%= time_ago_in_words(item.completed_at) %> ago</p>

  <p style="opacity: 0.5;><%= item.description %></p>
  <%= link_to "Mark As Complete", complete_item_path(item), method: :patch %>

<%= link_to "Delete", item, method: :delete, data: { confirm: "Are you Sure"}  %>

   <% else %>

   <h2><%= link_to item.title, item %></h2>

  <p>Completed <%= time_ago_in_words(item.created_at) %> ago</p>

  <p><%= item.description %></p>
  <%= link_to "Mark As Complete", complete_item_path(item), method: :patch %>

<%= link_to "Delete", item, method: :delete, data: { confirm: "Are you Sure"}  %>


  <% end %>
<% end %>




<% else %>
 
 <%= render 'layouts/static_landing_page' %>

<% end %>
